.container {
  width: 100%;
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente si es necesario */
  padding: 40px;
  background-color: rgb(10, 10, 10); /* Fondo oscuro */
}

.categoryContainer {
  padding-top: 40px;
  background-color: rgb(10, 10, 10); /* Fondo oscuro */
}

.list {
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas se ajusten en varias filas si es necesario */
  gap: 20px; /* Espaciado entre las tarjetas */
  justify-content: center; /* Centra las tarjetas horizontalmente */
  padding: 0;
  margin: 0;
  list-style: none; /* Elimina los estilos de lista predeterminados */
  max-width: 1200px; /* Limita el ancho máximo del contenedor */
}

.categoryItem {
  cursor: pointer;
  flex: 0 1 calc(100% / 5 - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a1a1a;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  .categoryItem:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
}

.categoryItemAct {
  cursor: pointer;
  flex: 0 1 calc(100% / 5 - 20px); /* Ajusta para que entren tres tarjetas por fila */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cc6600; /* Fondo naranja oscuro que combina con el diseño */
  border: 1px solid #333; /* Borde más oscuro */
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
  text-align: center;
  box-sizing: border-box; /* Incluye padding y borde en el ancho total */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación al pasar el cursor */
}

.categoryItem:hover {
  transform: translateY(-5px); /* Efecto de elevación */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra más intensa al pasar el cursor */
}

.categoryImg {
  width: 100%; /* Ocupa todo el ancho del contenedor */
  aspect-ratio: 4 / 3; /* Mantiene una proporción de 4:3 */
  object-fit: cover; /* Ajusta la imagen para llenar el contenedor sin deformarse */
  border-radius: 10px; /* Bordes redondeados para la imagen */
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra para la imagen */
  height: 500px;
}

.categoryItem h4 {
  font-size: 25px;
  color: #ff7d00; /* Texto naranja que combina con el diseño */
  margin: 10px 0 5px;
  text-align: center;
}

.categoryItem p {
  font-size: 18px;
  color: snow; /* Texto gris claro */
  line-height: 1.5;
  text-align: center;
}
.categoryItemAct h4 {
  font-size: 25px;
  color: black; /* Texto naranja que combina con el diseño */
  margin: 10px 0 5px;
  text-align: center;
}

.categoryItemAct p {
  font-size: 18px;
  color: snow; /* Texto gris claro */
  line-height: 1.5;
  text-align: center;
}
