@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Dancing+Script:wght@400..700&display=swap");

/*NAVBAR*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #0a0a0a;
  color: white;
  height: 100px;
  width: 100%;
}

.logoContainerRes {
  display: none;
}

.logoContainer {
  height: auto;
  padding: 20px;
  img {
    height: 70px;
    width: 70px;
    margin: 0 auto;
  }

  h1 {
    font-family: "Big Shoulders Stencil", cursive;
    font-size: 1.2rem;
    color: var(--color-primary);
    text-align: center;
    margin: 0;
  }
}

.menuClose {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;

  margin: 0 auto;
  gap: 2rem;
}

.list {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  padding: 0;
  gap: 2rem;

  li {
    font-size: 1.2rem;
    font-family: "Big Shoulders Stencil", cursive;
    color: #ff7d00;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  li:hover {
    color: #cc6600;
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
  }
}

.userBtn {
  font-size: 30px;
  cursor: pointer;
}

.userOptionsClose {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 200px;
  height: 200px;
  background-color: #0a0a0a;
  position: absolute;
  top: 100px;
  right: 0;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
  p {
    font-size: 1.2rem;
    font-family: "Big Shoulders Stencil", cursive;
    color: #ff7d00;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
}
.userOptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 200px;
  height: 200px;
  background-color: #0a0a0a;
  position: absolute;
  top: 100px;
  right: 0;
  transform: translateX(0);
  transition: all 0.3s ease-in-out;
  font-family: roboto;

  p {
    font-size: 1.2rem;
    font-family: "Big Shoulders Stencil", cursive;
    color: #ff7d00;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
}

.userList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  li {
    font-size: 1.2rem;
    font-family: "Big Shoulders Stencil", cursive;
    color: #ff7d00;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  li:hover {
    color: #cc6600;
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
  }
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  .cartBtn {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff7d00;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .cartBtn:hover {
    transform: scale(1.1);
  }

  .loginBtn {
    background-color: #ff7d00;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-family: "Big Shoulders Stencil", cursive;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease,
      box-shadow 0.3s ease;
  }

  .loginBtn:hover {
    background-color: #e06b00;
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

/*responsive*/

@media (max-width: 480px) {
  /*ESTILIZADO RESPONSIVE DEL NAVBAR Y EL MENU*/
  header {
    display: flex;
  }
  .menuClose {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px 20px;
    color: #ff7d00;
    cursor: pointer;
  }

  .logoContainer {
    display: none;
  }

  .logoContainerRes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
    img {
      height: 70px;
      width: 70px;
      margin: 0 auto;
    }

    h1 {
      font-family: "Big Shoulders Stencil", cursive;
      font-size: 1.2rem;
      color: var(--color-primary);
      text-align: center;
      margin: 0;
      padding: 0;
    }
  }

  .navbar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #0a0a0a;
    z-index: 1002;
    position: absolute;
    top: 100px;
    left: 0;
    height: 350px;
    width: 100%;
    padding: 20px 0;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
  }

  .navbarRes {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #0a0a0a;
    z-index: 1002;
    position: absolute;
    top: 100px;
    left: 0;
    height: 350px;
    width: 100%;
    padding: 20px 0;
    transform: translateX(0);
    transition: all 0.3s ease-in-out;
  }

  .list {
    flex-direction: column;
    gap: 1rem;
  }

  .btnContainer {
    flex-direction: column;
    gap: 1rem;
  }

  .userOptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: auto;
    background-color: #0a0a0a;
    position: absolute;
    top: 350px;
    right: 0;
    transform: translateX(0);
    transition: all 0.3s ease-in-out;
    border-radius: 8px; /* Opcional: bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Opcional: sombra */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */

    p {
      font-size: 1.2rem;
      font-family: "Big Shoulders Stencil", cursive;
      color: #ff7d00;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
    }
  }

  .userOptionsClose {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: auto;
    background-color: #0a0a0a;
    position: absolute;
    top: 350px;
    right: 0;
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;

    p {
      font-size: 1.2rem;
      font-family: "Big Shoulders Stencil", cursive;
      color: #ff7d00;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  /*ESTILIZADO RESPONSIVE DEL NAVBAR Y EL MENU*/
  header {
    display: flex;
  }
  .menuClose {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    color: #ff7d00;
    cursor: pointer;
  }

  .logoContainer {
    display: none;
  }

  .logoContainerRes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
    img {
      height: 70px;
      width: 70px;
      margin: 0 auto;
    }

    h1 {
      font-family: "Big Shoulders Stencil", cursive;
      font-size: 1.2rem;
      color: var(--color-primary);
      text-align: center;
      margin: 0;
      padding: 0;
    }
  }

  .navbar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #0a0a0a;
    z-index: 1002;
    position: absolute;
    top: 100px;
    left: 0;
    height: 350px;
    width: 100%;
    padding: 20px 0;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
  }

  .navbarRes {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #0a0a0a;
    z-index: 1002;
    position: absolute;
    top: 100px;
    left: 0;
    height: 350px;
    width: 100%;
    padding: 20px 0;
    transform: translateX(0);
    transition: all 0.3s ease-in-out;
  }

  .list {
    flex-direction: column;
    gap: 1rem;
  }

  .btnContainer {
    flex-direction: column;
    gap: 1rem;
  }

  .userOptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: auto;
    background-color: #0a0a0a;
    position: absolute;
    top: 350px;
    right: 0;
    transform: translateX(0);
    transition: all 0.3s ease-in-out;
    border-radius: 8px; /* Opcional: bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Opcional: sombra */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */

    p {
      font-size: 1.2rem;
      font-family: "Big Shoulders Stencil", cursive;
      color: #ff7d00;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
    }
  }

  .userOptionsClose {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: auto;
    background-color: #0a0a0a;
    position: absolute;
    top: 350px;
    right: 0;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;

    p {
      font-size: 1.2rem;
      font-family: "Big Shoulders Stencil", cursive;
      color: #ff7d00;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /*ESTILIZADO RESPONSIVE DEL NAVBAR Y EL MENU*/
  header {
    display: flex;
  }
  .menuClose {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    color: #ff7d00;
    cursor: pointer;
  }

  .logoContainer {
    display: none;
  }

  .logoContainerRes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
    img {
      height: 70px;
      width: 70px;
      margin: 0 auto;
    }

    h1 {
      font-family: "Big Shoulders Stencil", cursive;
      font-size: 1.2rem;
      color: var(--color-primary);
      text-align: center;
      margin: 0;
      padding: 0;
    }
  }

  .navbar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #0a0a0a;
    z-index: 1002;
    position: absolute;
    top: 100px;
    left: 0;
    height: 350px;
    width: 100%;
    padding: 20px 0;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
  }

  .navbarRes {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #0a0a0a;
    z-index: 1002;
    position: absolute;
    top: 100px;
    left: 0;
    height: 350px;
    width: 100%;
    padding: 20px 0;
    transform: translateX(0);
    transition: all 0.3s ease-in-out;
  }

  .list {
    flex-direction: column;
    gap: 1rem;
  }

  .btnContainer {
    flex-direction: column;
    gap: 1rem;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  /*ESTILIZADO RESPONSIVE DEL NAVBAR Y EL MENU*/
  header {
    display: flex;
  }

  .logoContainer {
    display: none;
  }

  .logoContainerRes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: auto;

    img {
      height: 60px;
      width: 60px;
      margin: 0 auto;
    }

    h1 {
      font-family: "Big Shoulders Stencil", cursive;
      font-size: 1.2rem;
      color: var(--color-primary);
      text-align: center;
      margin: 0;
      padding: 0;
    }
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    gap: 2rem;
  }

  .list {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    padding: 0;
    gap: 2rem;

    li {
      font-size: 1.2rem;
      font-family: "Big Shoulders Stencil", cursive;
      color: #ff7d00;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
    }
    li:hover {
      color: #cc6600;
      text-decoration: underline;
      transition: all 0.3s ease-in-out;
    }
  }

  .btnContainer {
    gap: 1rem;
  }
}
